<!DOCTYPE html>
<html lang="es-MX">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>Historial de movimientos</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/uikit.min.css')}}" />
   		<script src="{{url_for('static',filename='js/uikit.min.js')}}"></script>
    	<script src="{{url_for('static',filename='js/uikit-icons.min.js')}}"></script>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<nav class="navbar navbar-default" style="margin: 0;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Banco</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active uk-box-shadow-hover-large"><a href="estadoCuenta.html">Estado de cuenta</a></li>
					<li class="active uk-box-shadow-hover-large"><a href="#">Realizar Transferencia</a></li>
					<li class="active uk-box-shadow-hover-large"><a href="SPrestamo.html">Pedir prestamo</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="perfil.html"><span class="glyphicon glyphicon-user"></span>Ver perfil</a></li>
					<li><a href="Index2.html"><span class="glyphicon glyphicon-home"></span>Cerrar sesión</a></li>
				</ul>
			</div>
		</nav>
	</head>
	<body>
		<table class="uk-table uk-table-hover uk-table-divider">
			<thead>
				<tr>
					<th>Fecha</th>
					<th>Egreso</th>
					<th>Ingreso</th>
					<th>Cuenta destino</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>24-03-2016</td>
					<td></td>
					<td style="color: Green">$600.00</td>
					<td>a839</td>
				</tr>
				<tr>
					<td>12-10-2016</td>
					<td style="color: Red">$800.00</td>
					<td></td>
					<td>exa3232</td>
				</tr>
				<tr>
					<td>3-11-2016</td>
					<td></td>
					<td style="color: Green">$15600.00</td>
					<td>ds4343</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>