<!DOCTYPE html>
<html lang="es-MX">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bienvenida/o a Banco solid</title>
	<link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
</head>
<body>
        <div id="carousel1" class="carousel slide" data-ride="carousel">
        	<ol class="carousel-indicators">
        		<li data-target="#carousel1" data-slide-to="0" class="active"></li>
        		<li data-target="#carousel1" data-slide-to="1"></li>
        		<li data-target="#carousel1" data-slide-to="2"></li>
        		<li data-target="#carousel1" data-slide-to="3"></li>
        	</ol>

        	<div class="carousel-inner">
        		<div class="item active">
        			<img src="image/camino.jpeg" alt="camino" style="width: 100%">
					<div class="uk-overlay uk-position-top uk-overlay-primary" style="position: absolute;top: 40%;left: 50%;transform: translate(-50%,-50%);font-size: 150%;font-family:MS Serif;text-align: center;padding: 6%;font-style: bold;">
						<p>Iniciar sesión</p>
						<p>Usuario:</p>
						<div class="uk-inline">
						<input class="uk-input">
						<span class="uk-form-icon" uk-icon="icon: user"></span>
						</div>
						<p>Contraseña</p>
						<div class="uk-inline">
							<input class="uk-input">
							<span class="uk-form-icon" uk-icon="icon: lock"></span>
						</div>
						<br>
						<br>
						<p uk-margin>
						<button type="button" class="btn btn-info btn-lg" onclick="location.href='perfil.html'">Iniciar</button>
						</p>
						<p>¿Aun no tiene cuenta:?</p>
						<a href="Registro.html">Registrarse</a>
					</div>
        	    </div>
        		<div class="item">
        			<img src="image/bank.jpg" alt="presentacion" style="width: 100%">
        			<div style="position: absolute;top: 0%;left: 0%;color: White;font-family: MS Serif;font-style: italic; font-size: 280%">
        				<p>Sientase bienvenido!</p>
        				<p>Lo dotamos de todas las</p>
        				<p>herramientas para garantizar</p>
        				<p>su bienestar</p>
        			</div>
        		</div>
        		<div class="item">
        			<img src="image/viaje.jpg" alt="viaje" style="width: 100%">
        			<div class="uk-overlay uk-position-top uk-overlay-default" style="position: absolute;top: 0%;left: 0%;color: White;font-family: MS Serif;font-style: oblique; font-size: 300%;color: Black;padding: 5%">
        				<p>Este es el momento perfecto para embarcarse en el viaje de sus sueños</p>
        			</div>
        		</div>
        		<div class="item">
					<img src="image/banco2.jpg" alt="solvencia" style="width: 100%">
        			<div class="uk-overlay uk-position-top uk-overlay-primary" style="position: absolute;top: 40%;left: 50%;transform: translate(-50%,-50%);font-size: 350%;font-family:MS Serif;text-align: center;padding: 6%;font-style: bold;"><p>Disfruta de todos los beneficios de tu banco</p></div>
        		</div>
        	</div>

        	<a class="left carousel-control" href="#carousel1" data-slide="prev">
        		<span class="glyphicon glyphicon-chevron-left"></span>
        		<span class="sr-only">Atras</span>
        	</a>
        	<a class="right carousel-control" href="#carousel1" data-slide="next">
        		<span class="glyphicon glyphicon-chevron-right"></span>
        		<span class="sr-only">Siguiente</span>
        	</a>
        </div>
</body>
</html>


   

    