<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Perfil administrativo</title>
		<link rel="stylesheet" href="{{url_for('static',filename='css/uikit.min.css')}}" />
   		<script src="{{url_for('static',filename='js/uikit.min.js')}}"></script>
    	<script src="{{url_for('static',filename='js/uikit-icons.min.js')}}"></script>
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
		<nav class="navbar navbar-default" style="margin: 0;">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Banco</a>
				</div>
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/salir"><span class="glyphicon glyphicon-home"></span>Cerrar sesión</a></li>
				</ul>
			</div>
		</nav>
		</div>
	</head>
	<body>
		<div class="panel panel-default">
		<div class="panel-heading" style="text-align: center;"><p><kbd style="font-size: 120%;color: Black;font-family: Georgia;font-style: italic;">Perfil de usuario</kbd></p></div>
		<div>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{url_for('static',filename='image/admin.jpg')}}" alt="usuario" style="height: 470px" class="uk-box-shadow-large">
			<div style="padding: 1%"></div>
			<div class="uk-card uk-card-secondary uk-card-body uk-width-1-2@m uk-card-hover" style="position: absolute;top: 18%;left: 35%;text-align: center;">
				<hr class="uk-divider-icon">
				<h4>Nombre:</h4>
				<h4>{{datos[3]}}</h4>
				<br>
				<h4>Usuario:</h4>
				<h4>{{datos[1]}}</h4>
				<br>
				<div><button class="uk-button uk-button-primary">Asignar Tarjetas</button></div>
				<br>
				<div><button class="uk-button uk-button-primary">Confirmar prestamos</button></div>
				<br>
				<div><button class="uk-button uk-button-primary">Cuentas canceladas</button></div>
				<hr class="uk-divider-icon">
			</div>
		</div>
		<div class="uk-alert-warning" uk-alert style="font-size: 150%;left: 85%;top: 50%;position: absolute;">
			<p>7 peticiones pendientes</p>
		</div>
	</div>
	</body>
</html>